.hello-world-background {
	text-align: center;
	width: 50%;
	position: relative;
	top: 120px;
	left: 25%;
	height: 250px;
}
.clicked {
	background: rgb(0, 132, 255);
}

.no-clicked {
	background: rgb(160, 19, 54);
}
.hello-world {
	color: white;
	font-size: 24px;
	padding: 100px;
	cursor: pointer;
}